<div class="wrapper">
  <div class="publication-new-container">
    <h1>New Publication</h1>
    <div class="link-flex-box">
      <%= render 'shared/publication_form', publication: @publication %>
    </div>
  </div>
</div>
