<div class="wrapper">
  <div class="publication-show-container">
    <h1><%= @publication.name %></h1>
    <div class="link-flex-box">
      <%= link_to "Delete", publication_path, method: :delete %>
      <%= link_to "Edit", edit_publication_path %>
    </div>
  </div>
</div>

