<div class="navbar-andrew-brown navbar-fixed-top">
  <a href="http://www.ox.ac.uk/" class="navbar-andrew-brown-logo">
    <%= image_tag 'university-of-oxford-logo.png' %>
  </a>
  <div class="navbar-andrew-brown-right hidden-xs hidden-sm">
    <%= link_to "Andrew Brown", root_path, class: 'navbar-andrew-brown-item navbar-andrew-brown-link' %>
  </div>
</div>
