<div class="example-2 project-card">
  <div class="project-card-wrapper">
    <div class="project-data">
      <div class="project-content">
        <span class="project-name"><%= project.name %></span>
        <h1 class="project-description"><%= project.description %></h1>
        <p class="project-notes"><%= project.collaborators %></p>
        <p class="project-notes"><%= project.notes %></p>
        <a href="#" class="button">Read more</a>
      </div>
    </div>
  </div>
</div>
