<div class="example-2 publication-card">
  <div class="publication-card-wrapper">
    <div class="publication-data">
      <div class="publication-content">
        <span class="publication-name"><%= publication.name %></span>
        <h1 class="publication-description"><%= publication.description %></h1>
        <p class="publication-collaborators"><%= publication.collaborators %></p>
        <p class="publication-notes"><%= publication. %></p>
      </div>
    </div>
  </div>
</div>
