<%= render 'shared/banner' %>
<div class="container">
  <div class="tabs-container">
    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
      <ul id="myTab" class="nav nav-tabs nav-tabs-responsive" role="tablist">
        <li role="presentation" class="active">
          <a href="#home" id="home-tab" class="tab-text" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
            <span class="text outstanding-text">Home</span>
          </a>
        </li>
        <li role="presentation" class="next">
          <a href="about" role="tab" class="tab-text" id="about-tab" data-toggle="tab" aria-controls="about">
            <span class="text outstanding-text">About</span>
          </a>
        </li>
        <li role="presentation" class="next">
          <a href="#news" role="tab" class="tab-text" id="news-tab" data-toggle="tab" aria-controls="news">
            <span class="text outstanding-text">News</span>
          </a>
        </li>
        <li role="presentation" class="next">
          <a href="#projects" role="tab" class="tab-text" id="projects-tab" data-toggle="tab" aria-controls="projects">
            <span class="text outstanding-text">Projects</span>
          </a>
        </li>
        <li role="presentation" class="next">
          <a href="#publications" role="tab" class="tab-text" id="publications-tab" data-toggle="tab" aria-controls="publications">
            <span class="text outstanding-text">Publications</span>
          </a>
        </li>
        <li role="presentation" class="next">
          <a href="#cv" role="tab" class="tab-text" id="cv-tab" data-toggle="tab" aria-controls="cv">
            <span class="text outstanding-text">CV</span>
          </a>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">

        </div>
        <div role="tabpanel" class="tab-pane fade" id="about" aria-labelledby="about-tab">

        </div>
        <div role="tabpanel" class="tab-pane fade" id="news" aria-labelledby="news-tab">

        </div>
        <div role="tabpanel" class="tab-pane fade" id="projects" aria-labelledby="projects-tab">

        </div>
        <div role="tabpanel" class="tab-pane fade" id="publications" aria-labelledby="publications-tab">

        </div>
        <div role="tabpanel" class="tab-pane fade" id="cv" aria-labelledby="cv-tab">

        </div>
      </div>
    </div>
  </div>
</div>
