<div class="wrapper">
  <div class="project-new-container">
    <h1>New Project</h1>
    <div class="link-flex-box">
      <%= render 'shared/project_form', project: @project %>
    </div>
  </div>
</div>
