<div class="wrapper">
  <div class="project-show-container">
    <h1><%= @project.name %></h1>
    <div class="link-flex-box">
      <%= link_to "Delete", project_path, method: :delete %>
      <%= link_to "Edit", edit_project_path %>
    </div>
  </div>
</div>
