<div class="container">
  <div class="stories-banner-container">
    <%= render "shared/stories_banner" %>
  </div>
  <div class="stories-card-container">
    <% @stories.each do |story| %>
      <% if current_user %>
        <%= link_to story_path(story.id), method: :get do %>
          <%= render "shared/story_card", story: story %>
        <% end %>
      <% else %>
        <%= render "shared/story_card", story: story %>
      <% end %>
    <% end %>
  </div>
</div>
