<div class="container">
  <h1 class="news-header">News</h1>
  <% @stories.each do |story| %>
    <% if current_user %>
      <%= link_to story_path(story.id), method: :get do %>
        <%= render "shared/story_card", story: story %>
      <% end %>
    <% else %>
      <%= render "shared/story_card", story: story %>
    <% end %>
  <% end %>
</div>
